<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comn.example.user.e_bank">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="E-Banks"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IntroSlider" />
        <activity android:name=".RegistrationForm"
            android:label="Registration"/>
        <activity android:name=".Login" />
        <activity android:name=".Home"
            android:label="Home"/>
        <activity android:name=".Loans"
            android:label="Loans"/>
        <activity android:name=".Savings"></activity>
    </application>

</manifest>